* {
  text-align: center;
  font-size: 16px;
}
body {
  background-color: silver;
}
@font-face {
  font-family: 'しょかきさらり行体';
  src: url('./../font/しょかきさらり行体.ttf') format('truetype');
}
.box a {
  display: inline-block;
  width: 250px;
  color: black;
  background-color: white;
  text-decoration: none;
  border: 1px solid black;
  font-size: 24px;
}
.box {
  display: inline-block;
}
.box a.active {
  color: white;
  background-color: red;
}
.box a:hover:not(.active) {
  color: white;
  background-color: black;
}