.main {
  font-family: 'しょかきさらり行体';
  font-size: 36px;
}
.main h1 {
  font-size: 72px;
  margin: 0;
}
.main h2 {
  font-size: 54px;
  margin: 0;
}
.main h3 {
  font-size: 43.2px;
  margin: 0;
}
.main h4 {
  font-size: 36px;
  margin: 0;
}
.main h5 {
  font-size: 28.8px;
  margin: 0;
}
.main h6 {
  font-size: 27%;
  margin: 0;
}
.main a {
  color: blue;
  text-decoration: none;
}
.main *:not(h1,h2,h3,h4,h5,h6) {
  font-size: 36px;
}