<div>
  <div class="box"><a
    {% if page.url == "/" %}
      class="active"
    {% else %}
      href="/"
    {% endif %}
  >home</a></div>
  <div class="box"><a
    {% if page.url == "/chat.html" %}
      class="active"
    {% else %}
      href="/html/chat.html"
    {% endif %}
  >chat</a></div>
  <div class="box"><a
    {% if page.url == "/calendar.html" %}
      class="active"
    {% else %}
      href="/html/calendar.html"
    {% endif %}
  >calendar</a></div>
  <div class="box"><a
    {% if page.url == "/todo.html" %}
      class="active"
    {% else %}
      href="/html/todo.html"
    {% endif %}
  >todo</a></div>
  <div class="box"><a
    {% if page.url == "/blog.html" %}
      class="active"
    {% else %}
      href="/html/blog.html"
    {% endif %}
  >blog</a></div>
</div>